In [ ]:
#import dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Loading the Dataset
dir=f'/content/drive/MyDrive/EEG/data'
import pandas as pd
url = 'https://drive.google.com/file/d/1GelT0xYuEj3kHEA45MOZP5-WVXsDgVeF/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path,sep=',')
df.head()

  Subject ID         MRI ID        Group  Visit  ...  CDR  eTIV   nWBV    ASF
0  OAS2_0001  OAS2_0001_MR1  Nondemented      1  ...  0.0  1987  0.696  0.883
1  OAS2_0001  OAS2_0001_MR2  Nondemented      2  ...  0.0  2004  0.681  0.876
2  OAS2_0002  OAS2_0002_MR1     Demented      1  ...  0.5  1678  0.736  1.046
3  OAS2_0002  OAS2_0002_MR2     Demented      2  ...  0.5  1738  0.713  1.010
4  OAS2_0002  OAS2_0002_MR3     Demented      3  ...  0.5  1698  0.701  1.034

[5 rows x 15 columns]

In [ ]:
pd.isnull(df).sum()

Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [ ]:
df.groupby(['EDUC'])['SES'].median()

EDUC
6     4.0
8     5.0
11    4.0
12    3.0
13    2.0
14    3.0
15    2.0
16    2.0
17    1.0
18    2.0
20    1.0
23    1.0
Name: SES, dtype: float64

In [ ]:
df["SES"].fillna(df.groupby("EDUC")["SES"].transform("median"), inplace=True)

In [ ]:
df

    Subject ID         MRI ID        Group  Visit  ...  CDR  eTIV   nWBV    ASF
0    OAS2_0001  OAS2_0001_MR1  Nondemented      1  ...  0.0  1987  0.696  0.883
1    OAS2_0001  OAS2_0001_MR2  Nondemented      2  ...  0.0  2004  0.681  0.876
2    OAS2_0002  OAS2_0002_MR1     Demented      1  ...  0.5  1678  0.736  1.046
3    OAS2_0002  OAS2_0002_MR2     Demented      2  ...  0.5  1738  0.713  1.010
4    OAS2_0002  OAS2_0002_MR3     Demented      3  ...  0.5  1698  0.701  1.034
..         ...            ...          ...    ...  ...  ...   ...    ...    ...
368  OAS2_0185  OAS2_0185_MR2     Demented      2  ...  0.5  1693  0.694  1.037
369  OAS2_0185  OAS2_0185_MR3     Demented      3  ...  0.5  1688  0.675  1.040
370  OAS2_0186  OAS2_0186_MR1  Nondemented      1  ...  0.0  1319  0.801  1.331
371  OAS2_0186  OAS2_0186_MR2  Nondemented      2  ...  0.0  1327  0.796  1.323
372  OAS2_0186  OAS2_0186_MR3  Nondemented      3  ...  0.0  1333  0.801  1.317

[373 rows x 15 columns]

In [ ]:
pd.isnull(df).sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          2
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [ ]:
df.groupby(['Age'])['MMSE'].median()

Age
60    30.0
61    30.0
62    30.0
63    30.0
64    29.0
65    29.5
66    29.5
67    28.5
68    29.0
69    29.0
70    29.0
71    28.0
72    27.0
73    29.0
74    30.0
75    28.0
76    28.0
77    29.0
78    29.0
79    29.0
80    28.5
81    28.5
82    29.0
83    29.0
84    28.0
85    30.0
86    29.5
87    28.5
88    29.5
89    29.0
90    27.0
91    28.0
92    28.0
93    30.0
94    29.0
95    29.0
96    26.0
97    30.0
98    21.0
Name: MMSE, dtype: float64

In [ ]:
df["MMSE"].fillna(df.groupby("Age")["MMSE"].transform("median"), inplace=True)

In [ ]:
pd.isnull(df).sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [ ]:
df

    Subject ID         MRI ID        Group  Visit  ...  CDR  eTIV   nWBV    ASF
0    OAS2_0001  OAS2_0001_MR1  Nondemented      1  ...  0.0  1987  0.696  0.883
1    OAS2_0001  OAS2_0001_MR2  Nondemented      2  ...  0.0  2004  0.681  0.876
2    OAS2_0002  OAS2_0002_MR1     Demented      1  ...  0.5  1678  0.736  1.046
3    OAS2_0002  OAS2_0002_MR2     Demented      2  ...  0.5  1738  0.713  1.010
4    OAS2_0002  OAS2_0002_MR3     Demented      3  ...  0.5  1698  0.701  1.034
..         ...            ...          ...    ...  ...  ...   ...    ...    ...
368  OAS2_0185  OAS2_0185_MR2     Demented      2  ...  0.5  1693  0.694  1.037
369  OAS2_0185  OAS2_0185_MR3     Demented      3  ...  0.5  1688  0.675  1.040
370  OAS2_0186  OAS2_0186_MR1  Nondemented      1  ...  0.0  1319  0.801  1.331
371  OAS2_0186  OAS2_0186_MR2  Nondemented      2  ...  0.0  1327  0.796  1.323
372  OAS2_0186  OAS2_0186_MR3  Nondemented      3  ...  0.0  1333  0.801  1.317

[373 rows x 15 columns]

In [ ]:
df = df.drop(['MRI ID','Visit','Hand','Subject ID','EDUC','SES'], axis='columns') # Drop unnecessary columns

In [ ]:
df['Group'] = df['Group'].replace(['Converted'], ['Demented']) # Target variable
df['Group'] = df['Group'].replace(['Demented', 'Nondemented'], [1,0]) # Target variable
df

     Group  MR Delay M/F  Age  MMSE  CDR  eTIV   nWBV    ASF
0        0         0   M   87  27.0  0.0  1987  0.696  0.883
1        0       457   M   88  30.0  0.0  2004  0.681  0.876
2        1         0   M   75  23.0  0.5  1678  0.736  1.046
3        1       560   M   76  28.0  0.5  1738  0.713  1.010
4        1      1895   M   80  22.0  0.5  1698  0.701  1.034
..     ...       ...  ..  ...   ...  ...   ...    ...    ...
368      1       842   M   82  28.0  0.5  1693  0.694  1.037
369      1      2297   M   86  26.0  0.5  1688  0.675  1.040
370      0         0   F   61  30.0  0.0  1319  0.801  1.331
371      0       763   F   63  30.0  0.0  1327  0.796  1.323
372      0      1608   F   65  30.0  0.0  1333  0.801  1.317

[373 rows x 9 columns]

In [ ]:
# bar drawing function
import matplotlib.pyplot as plt
Demented = df[df['Group']==1].value_counts()
Nondemented = df[df['Group']==0].value_counts()
print(len(Demented))
print(len(Nondemented))

183
190

In [ ]:
#Avoid Class Imbalance problem
SAMPLE_SIZE = 183

# take a sample of the majority class 0 (total = 198738)
Demented = df[df['Group']==1].sample(SAMPLE_SIZE)
# take a sample of class 1 (total = 78786)
NonDemented = df[df['Group']==0].sample(SAMPLE_SIZE)

# concat the two dataframes
df = pd.concat([Demented, NonDemented], axis=0).reset_index(drop=True)

# Check the new class distribution
df['Group'].value_counts()

1    183
0    183
Name: Group, dtype: int64

In [ ]:
y = df['Group'] # Target variable
cols = ['MR Delay','Age','MMSE','CDR','eTIV','nWBV','ASF']
X = df[cols]
X

     MR Delay  Age  MMSE  CDR  eTIV   nWBV    ASF
0         759   76  28.0  0.5  1236  0.764  1.419
1         538   72  17.0  1.0  1483  0.695  1.184
2        1435   73  16.0  1.0  1478  0.696  1.188
3         525   82  20.0  1.0  1729  0.698  1.015
4           0   65  30.0  0.5  1340  0.754  1.309
..        ...  ...   ...  ...   ...    ...    ...
361         0   61  30.0  0.0  1313  0.805  1.337
362      1345   76  30.0  0.0  1823  0.739  0.963
363      1598   83  29.0  0.0  1323  0.718  1.327
364         0   81  30.0  0.0  1230  0.715  1.427
365       665   71  28.0  0.0  1390  0.810  1.262

[366 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 20% test
print('X_train',X_train)
print('X_test',X_test)
print('y_train',y_train)
print('y_test',y_test)

X_train      MR Delay  Age  MMSE  CDR  eTIV   nWBV    ASF
102         0   90  21.0  0.5  1307  0.679  1.342
326         0   75  28.0  0.0  1511  0.739  1.162
12        616   75  28.0  0.5  1407  0.770  1.247
257      1099   80  30.0  0.0  1390  0.735  1.263
165         0   66  25.0  0.5  1548  0.727  1.134
..        ...  ...   ...  ...   ...    ...    ...
178       584   71  16.0  1.0  1492  0.725  1.176
200         0   80  28.0  0.0  1660  0.728  1.057
108       647   68  19.0  1.0  1712  0.691  1.025
194      1019   92  30.0  0.0  1662  0.682  1.056
305       617   81  27.0  0.5  1814  0.759  0.968

[256 rows x 7 columns]
X_test      MR Delay  Age  MMSE  CDR  eTIV   nWBV    ASF
33          0   71  27.0  0.0  1289  0.771  1.362
213      1555   64  30.0  0.0  1370  0.794  1.281
220         0   77  29.0  0.0  1583  0.777  1.108
205       695   62  30.0  0.0  1378  0.795  1.274
68        830   81  26.0  0.5  1459  0.694  1.203
..        ...  ...   ...  ...   ...    ...    ...
311      1591   82  29.0  0.0  1442  0.644  1.217
73        610   66  21.0  1.0  1562  0.717  1.124
277      1861   85  30.0  0.0  1820  0.755  0.964
54          0   66  19.0  1.0  1695  0.711  1.036
11        707   90  23.0  0.5  1668  0.646  1.052

[110 rows x 7 columns]
y_train 102    1
326    0
12     1
257    0
165    1
      ..
178    1
200    0
108    1
194    0
305    0
Name: Group, Length: 256, dtype: int64
y_test 33     1
213    0
220    0
205    0
68     1
      ..
311    0
73     1
277    0
54     1
11     1
Name: Group, Length: 110, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
def Model(X,y,xtest,ytest):
  clf1=LogisticRegression()
  clf2=GaussianNB()
  clf3=RandomForestClassifier(n_estimators=100, 
                               bootstrap = True,
                               ccp_alpha=0.0,
                               class_weight=None,
                               criterion='gini',
                               max_depth=None,
                               max_leaf_nodes=None,
                               max_samples=None,
                               min_impurity_decrease=0.0,
                               min_impurity_split=None,
                               min_samples_leaf=1,
                               min_samples_split=2,
                               min_weight_fraction_leaf=0.0,
                               n_jobs=None,
                               oob_score=False,
                               random_state=None,
                               verbose=0,
                               warm_start=False,
                              max_features = 'sqrt')
  clf4=KNeighborsClassifier(n_neighbors=13)
  clf=[clf1,clf2,clf3,clf4]
  name=['Logisticregression','GaussianNB','Random Forest','KNN']
  model={}
  y_pred={}
  for i in range(len(clf)):
         model['model' + str(i)]=clf[i].fit(X,y)
         print( model['model' + str(i)])
         y_pred['model' + str(i)] = model.get('model' + str(i)).predict(xtest)
         print(y_pred['model' + str(i)])
         score = model.get('model' + str(i)).score(xtest, ytest)
         print(name[i])
         print("Accuracy",score)
         print(confusion_matrix(ytest,y_pred.get(('model' + str(i)))))
         print(classification_report(ytest,y_pred.get(('model' + str(i)))))
         score=0
Model(X_train,y_train,X_test,y_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
[0 0 0 0 1 1 0 0 1 0 1 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1
 0 0 1 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1 1 1 0 1 0 0 0 1 1 1 1 0 0 1 0
 0 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1 0 1 0 1 0 1 1]
Logisticregression
Accuracy 0.9545454545454546
[[56  1]
 [ 4 49]]
              precision    recall  f1-score   support

           0       0.93      0.98      0.96        57
           1       0.98      0.92      0.95        53

    accuracy                           0.95       110
   macro avg       0.96      0.95      0.95       110
weighted avg       0.96      0.95      0.95       110

GaussianNB(priors=None, var_smoothing=1e-09)
[0 0 0 0 1 1 0 0 1 1 1 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1
 0 0 1 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1 1 1 0 1 0 0 0 1 1 1 1 0 0 1 0
 0 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1 0 1 0 1 0 1 1]
GaussianNB
Accuracy 0.9454545454545454
[[55  2]
 [ 4 49]]
              precision    recall  f1-score   support

           0       0.93      0.96      0.95        57
           1       0.96      0.92      0.94        53

    accuracy                           0.95       110
   macro avg       0.95      0.94      0.95       110
weighted avg       0.95      0.95      0.95       110

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
[0 0 0 0 1 1 0 0 1 0 1 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1
 0 0 1 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 1 1 1 0 1 0 0 0 1 1 1 1 0 0 1 0
 0 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1 0 1 0 1 0 1 1]
Random Forest
Accuracy 0.9545454545454546
[[55  2]
 [ 3 50]]
              precision    recall  f1-score   support

           0       0.95      0.96      0.96        57
           1       0.96      0.94      0.95        53

    accuracy                           0.95       110
   macro avg       0.95      0.95      0.95       110
weighted avg       0.95      0.95      0.95       110

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=13, p=2,
                     weights='uniform')
[1 0 1 0 1 0 0 0 1 1 1 0 0 1 1 0 1 0 1 1 1 1 1 0 0 1 0 0 0 0 1 0 1 1 0 1 0
 1 1 0 1 1 1 0 0 1 1 1 1 0 0 1 0 0 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 1 1 1 1 0
 0 0 1 1 1 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 1 1 0 1 0 0 1]
KNN
Accuracy 0.5181818181818182
[[30 27]
 [26 27]]
              precision    recall  f1-score   support

           0       0.54      0.53      0.53        57
           1       0.50      0.51      0.50        53

    accuracy                           0.52       110
   macro avg       0.52      0.52      0.52       110
weighted avg       0.52      0.52      0.52       110